<form (ngSubmit)="modifier()" [formGroup]="articleForm">
    <label for="titre"> contenu </label>
    <input type="text" name="titre" value="{{ articles.titre }}" formControlName="titre">

    <label for="contenu"> contenu</label>
    <textarea name="contenu" id="" cols="30" rows="10" formControlName="contenu"> {{ articles.contenu }} </textarea>

    <label for="image"> image </label>
    <input type="url" name="image" value="{{ articles.image }}" formControlName="image">

    <button type="submit"> modifier </button>

</form>